# Zeabur Deploy Base
# startstatic-vip.zeabur.app

# Monetag Integration (Coming Soon)
# MONETAG_ZONE_ID_MAIN=
# MONETAG_ZONE_ID_BOTTOM=
# MONETAG_ZONE_ID_BANNER=

# Anti-AdBlock (Coming Soon)
# ANTI_ADBLOCK_ENABLED=false
